<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <!-- <section>heloo i am pruthviraj vyawahare</search>
    <aside>this is an add</aside>
    <a href="https://google.com" target="_main"><img src="https://deep-image.ai/blog/content/images/size/w1600/2022/08/magic-g1db898374_1920.jpg" alt="not this image" height="230"></a> -->
<!-- <div><P>
    hello world
</P>
</div>
<main>
<ol>
<li>apple</li>
<ol>
      <li>season: summer</li>
</ol>
<li>mango</li>

</ol>

</main>

<table>
    <thead>
    <caption>my info</caption>
    <tr >
        <th colspan="2">name</th>
       
    </tr>
    </thead>
    <tbody>
<tr>
<td>
    pruthviraj
</td>
<td>21286</td>


</tr>
</tbody>

</table> -->
<form action="/action.php">
<input type="text"placeholder="type something here">
<br>
<input type="password"placeholder="password">
<br>
<label for="101">
<input type="radio" value="class 11" name="class" id="101" >class 11

</label>
<br>
<label for="102">
<input type="radio" value="class 12" name="class" id="102"> class 12
</label>
<br>
<label for="math"></label>
</form>
</body>
</html>